@import "~styles/variables"

:host > div
  margin: 0 auto
  max-width: 1400px

.fullheight
  min-height: 100%;
  display: flex
  flex-direction: column
  

#main_page
  flex: 1
  display: flex
  flex-direction: row
  // justify-content: center
  // align-items: stretch //default

.side_nav
  flex: 1
  background-color: greys.dark
  // flex-basis: 20%// width: 80%

  .logo
    margin: 2em;
    border-bottom: 1px solid greys.mid;
    color: colors.accent1;
    font-weight: bold;
    font-size: 2.5rem;
  
  .nav-buttons div
    border-bottom: 1px solid #444
    // height: 4em


.main_content
  flex: 4
  background-color: greys.lighter
  // flex-basis: 80%// width: 80%
  // float: left
  // display: inline-block
  // box-sizing: border-box
