<div class="fullheight">
        <div id="main_page">

                <section class="side_nav">
                    <div class="text-center logo">
                        STOCKS
                    </div>
                    <div class="nav-buttons">
                        <icon-button 
                            routerLink="/" 
                            [routerLinkActiveOptions]="{exact:true}"
                            [routerLinkActive]="['primary-color', 'active']" 
                            [iconClass]="'fa fa-home'">Home
                        </icon-button>  
                        <icon-button 
                            routerLink="/stocks" 
                            [routerLinkActive]="['primary-color', 'active']" 
                            [iconClass]="'fa fa-cubes'">
                            Stocks
                        </icon-button>  
                            <icon-button  [iconClass]="'fa fa-cog'" >Configuracion</icon-button>  
                        
                    </div>
                </section>
            
                <section class="main_content">
                        <header>
                                <div class="container">
                                    <div class="row">
                                    <div class="twelve columns" >
                                        <div class="margin-vertical-m">
                                        
                                        </div>
                                    </div>
                                    
                                    </div>
                            
                                </div>  
                        </header>
                            
                        <div class="container">
                            <div class="row">
                                <div class="twelve columns" >
                        
                                <router-outlet></router-outlet>
                                
                                </div>
                            </div>
                        </div>
                        
                        <footer class="bottom-fixed" style="width:80%">
                            <div class="container">
                                    <app-message></app-message>
                            </div>
                        </footer>
                </section>
            
            </div>
            
</div>
