<header>
    <div class="container">
        <div class="row">
          <div class="twelve columns" >
              <div class="margin-vertical-m">
                <icon-button routerLink="/" [buttonClass]="'button-primary'" [iconClass]="'fa fa-home'">Home</icon-button>  
                <icon-button routerLink="/articulos" [buttonClass]="'button-primary'" [iconClass]="'fa fa-cubes'">Stocks</icon-button>  
                <icon-button [buttonClass]="'button-primary'" [iconClass]="'fa fa-cog'" >Configuracion</icon-button>  
              </div>
          </div>
          
        </div>

    </div>  
</header>

<div class="container">
    <div class="row">
      <div class="twelve columns" >

        <router-outlet></router-outlet>
      
      </div>
    </div>
</div>

<footer>

</footer>