@import "~styles/variables"

:host > div
  max-width: 1400px
  margin: 0 auto

#main_page
  display: flex
  // justify-content: center
  // align-items: stretch //default

.side_nav
  flex: 1
  border: 1px solid white
  // flex-basis: 20%// width: 80%

  .logo
    // padding: 1em
    border: 1px solid #ffffff;
    border-radius: 2px;
  
  .nav-buttons div
    border-bottom: 1px solid #444
    // height: 4em


.main_content
  flex: 4
  border: 1px solid white
  // flex-basis: 80%// width: 80%
  // float: left
  // display: inline-block
  // box-sizing: border-box
