/*
  margin-vertical(val) Imported from mixin.styl
*/

.inline *
  display: inline

.text-center
  text-align: center

.margin-vertical-l
  margin-vertical(2em)

.margin-vertical-m
  margin-vertical(1em)

.margin-vertical-s
  margin-vertical(.5em)



.bottom-fixed 
  bottom: 0
  position: fixed

/*
 Text & Background COLORS
   Yields txt color and backgorund color classes
   .primary-color{
     color: #E2AF1D 
   }
   .primary-bg{
     background-color: #E2AF1D
   }

*/

for key, value in colors
  .{key}-color
    color: value !important
  .{key}-bg
    background-color: value !important
