/*
* Paleta principal
*/

colors = {
  primary : #E2AF1D ,
  accent1 : #2E8684 ,
  accent2 : #C70E44 ,
  success : #00D93D ,
  warning : #FFCB19 ,
  alert : #D90000 ,
  alt1 : #7D7877 ,
  alt2 : #EE6B24 ,
  alt3 : #32a777
}


/*
* Greys
*/
greys = {
  lighter : #E1E1E1,
  light : #ccc,
  mid : #777,
  dark : #333
}

